*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'montserrat';
    font-size: 32px;
    font-weight: bold;
}
header{
    list-style-type: none;
} 
nav{
    background-color: white;
}
nav ul{
    width: 100%;
    list-style: none;
}
nav li{
    height: 50px;
}
.option{
    padding-left: 15px;
    margin-top: 20px;
}
.mainMenu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: white;
    display: none;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    text-decoration: none;
}
.mainMenu li{
    width: 100%;
}
.mainMenu a{
    width: 100%;
    color: #262729;
    text-decoration: none;
}
.logo-2{ 
    display: flex;
    gap: 20px;
    margin: 10px;
} 
.logo-2 img{
    margin-left: 40px;

}
.closeMenu{
    font-size: 35px;
}
nav .socials{
    margin-top: 170px;
    margin-left: 10px;
} 
nav .mo-lang{
    display: flex; 
    gap: 15px;
    color: #ee685f;
    padding: 15px;
}
.mo-lang hr{
    border:1px dotted #ee685f;
} 
.logo{ 
    display: flex;
    gap: 20px; 
    margin: 10px;
    text-transform: none;
} 
.logo img{
    margin-left: auto;
}
.nav-bar p{
    font-family: 'montserrat';
    font-size: 16px;
}
.openMenu{
    right: 0px;
    margin-top: 6px;
    font-size: 30px;
    font-weight: lighter;
}
.banner h1{
    font-size: 34px;
    color: #2a90d9;
    padding: 20px 10px;
}
.banner p{
    font-size: 16px;
    font-family: 'montserrat';
    font-style: medium;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 130px;
}
.banner{
    background-image: url(images/banner_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px 
}
.search {
    flex-grow: 1;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    position: relative;
} 
.search-bar{
    width:90%; 
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 20px 20px; 
    margin-left: 15px;
    margin-top: 45px;
}
.search-bar input{
    flex: 1;
    border: 0;
    outline: none;
    font-size: 16px;
    line-height: 24px;
    color: #a3a3a3;
    padding: 10px;
    margin-top: 10px; 
}
.search-bar button{
    padding: 6px 10px;
    background: #ee685f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 150px;
    justify-content: center;
    font-size: 18px;
}
.search-bar p{
    margin-bottom: 30px;
    margin-left: -215px;
    left: 0;
    font-size: 16px;
    line-height: 24px; 
    color: #303038;
}
h2{
    font-family: 'montserrat';
    font-size: 27px;
}
.items h2{
    text-align: center;
}
.items p{
    font-family: 'montserrat';
    font-size: 20px;
    line-height: 28px;
    font-style: regular;
    text-align: center;
    color: #333333;
}
.ChooseUs-section{
    padding-top: 60px;
}
.ChooseUs-section p{
    padding: 10px 0px ;
}
.ChooseUsContainer{
    text-align: center;
    background-color: #f2f2f2;
}
h3{
    font-family: 'montserrat';
    font-size: 20px;
    line-height: 20px;
    font-style: semibold;
    text-align: center;
    /* width: 328px; */
}
.advantages{
    padding-top: 20px;
    padding-bottom: 20px;
}
.advantages h3{
    padding-top: 20px;
}
.advantages p{
    font-family: 'montserrat';
    font-size: 16px;
    line-height: 24px;
    font-style: medium;
    text-align: center;
    padding-top: 10px;
}